*.checked
.depend
.depend.aux
_tags
everest
_output
*~
*.aux
*.fls
*.log
*.out
*.pdf
*.gz
*.fdb_latexmk
bin/
kremlin/
out/
.qd_files
.clangd/
*.json
.cache/
**/apps/*/formats/*.fst
**/apps/*/formats/*.fsti
**/hacl-star-*/gcc-compatible/*.o
**/hacl-star-*/gcc-compatible/*.d
__pycache__/
