*.checked
.depend
.depend.aux
_tags
everest
_output
*~
*.aux
*.fls
*.log
*.out
*.pdf
*.gz
*.fdb_latexmk
bin/
kremlin/
out/
CMakeFiles/
.vs/
build/
CMakeCache.*
CTestTestfile.*
Makefile
enclave
enclave.signed
*.cmake
*.a
*.so
*.lib
openenclave_mcounter_host
cryptotest
.qd_files
.clangd/
*.json
.cache/
**/apps/*/formats/*.fst
**/apps/*/formats/*.fsti
**/hacl-star-*/gcc-compatible/*.o
__pycache__/
